/* layout */
body {
  background-color: $appr-black;
  color: #989898;
  font-family: 'Montserrat';
}
.container-fluid {
  padding: 0px;
}
@media (min-width: 1px) {/*override all bootstrap media queries for this class*/
  .container-fluid { padding: 0px; }
}
section.appr-main {
  background-color: $appr-black;
  padding: 2em;
}

/* text and captions */
h2{
  margin-bottom: 1.5rem;
}

/* links */
a:hover,
a:focus{
	text-decoration: none;
}
p.accented, span.accented {
  color: $appr-pink;
}

/* images */
img{
    width: 100%;
    height: auto;
}
