
.appr-bgimage {
  width:100%;
  min-height:600px;
  background: url('/images/site/apprcover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appr-bgimage.short {
  min-height:300px;
}
.row.appr-hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.appr-hero-box {
  padding: 20px;
  background-color: rgba(46, 66, 85, 0.45);
  border-radius: 5px;
}
.appr-hero-caption {
  color: #ffffff;
}
.appr-hero-copy {
  color: rgb(236, 236, 236);
}
