
.appr-bgimage {
  width:100%;
  min-height:600px;
  background: url('/images/site/apprcover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}
.appr-bgimage.short {
  min-height:300px;
  background-position-y: -250px;
}
.row.appr-hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &.width-constrained{
    max-width: 36rem;
  }
}
.appr-hero-box {
  padding: 20px;
  background-color: rgba(46, 66, 85, 0.45);
  border-radius: 5px;
}
.appr-hero-caption {
  color: #ffffff;
}
.appr-hero-copy {
  color: rgb(236, 236, 236);
}

.appr-main-cta{
  text-align: center;  
  color: #fff;
  margin-top: 1em;
  cursor: pointer;
  font-weight: 300;
  i{
    display: block; 
    font-size: 2.4rem;
    line-height: 1.3rem;
  }
}

.appr-sign-up-cta{
  /*@include main-background-image(3rem, 0 bottom);*/
  padding: 2rem;
  background-color: $appr-black;
  text-align: center;
}

.appr-main-caption  {
  text-align: center;
}