.card.prf-errorbox,
.card-group.prf-details .card,
.prf-infobox {
  border: none;
  background: none;
}

.card-group.prf-details {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-blend-mode: color;
  background-color: rgba(41, 43, 44, 0.78);
}

.prf-infobox .list-group-item.active {
  color: #fff;
  background-color: $appr-grey;
  border: none;
}

.prf-vcard.prf-infobox {
  max-width: 22rem;
}

/* tab panels */
.nav-tabs {
  margin-bottom: -3px;
  border-bottom: none;

  .nav-link {
    background-color: $appr-grey;
    color: #ffffff;
    border: none;
  }
}