.card.prf-errorbox,
.card-group.prf-details .card,
.prf-infobox {
  border: none;
  background: none;
}

.card-group.prf-details {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-blend-mode: color;
  background-color: rgba(41, 43, 44, 0.78);
}

.prf-infobox .list-group-item.active {
  color: #fff;
  background-color: $appr-grey;
  border: none;
}

.prf-vcard.prf-infobox {
  max-width: 22rem;
}

/* tab panels */
#profileDetailContent .tab-content, #profileDetailContent .tab-pane {
  background-color: #ffffff;
  border-radius: 5px;
}

.nav-tabs {
  margin-bottom: 1px;
  border-bottom: none;
  margin-left: 5px;

  .nav-link {
    background-color: $appr-grey;
    color: #ffffff;
    border: none;
  }
}


.appr-horiz-ad {
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin:0;

  .fa {
    padding: 10px;
  }

  .fa.wanted {
    color: $appr-pink;
  }

  .fa.offered {
    color: $appr-teal;
  }
}

p.appr-prompt {
  margin-top: 1em;
  padding: 1em;
  border-radius: 7px;
  width:100%;
}

.appr-prompt.wanted {
  background-color: $appr-lightpink;
}

.appr-prompt.offered {
  background-color: lighten($appr-teal, 15%);
}