/* css styling for profilic user profiles */

/* bootstrap tweaks / fixers */
.btn-toolbar .btn{
  margin-right: 5px;
}
.btn-toolbar .btn:last-child{
  margin-right: 0;
}

/* flexbox container for media widgets & media uploads */
.form-group.prf-file-input {
  margin-bottom: 0;
}
.form-group.prf-file-input input.form-control {
  border: none;
  border-radius: 0;
}
.prf-nomedia {
  background-color: rgba(222, 222, 222, 0.5);
  height: 275px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
  color: rgb(88, 88, 88);
  text-align: center;
}
.prf-mediabox-wrap {
  background-color: #292b2c;
  padding: 2em;
}
.prf-mediabox {
  display: flex;
  flex-wrap: wrap;
}
.prf-mediabox-item {
  width: 33.33vw;
  background-color: #636363;
  padding: 10px;
  border-radius: 5px;
}
.prf-mediabox-item h4, .prf-mediabox-item h3, .prf-mediabox-item h2 {
  background: #636363;
  padding: 5px;
  margin: 0;
  font-size: 1.2em;
  text-align: center;
 color: #d2c5c9;
}
.prf-media-choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #505050;
}
.prf-media-choices .btn {
  flex-grow: 1;
  margin: 0;
  border-radius: 0;
}
.form-group.prf-uploadctrls {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: -5px;
}

/* vertical cards */
.card.prf-vcard {
  max-width: 15rem;
  margin:1em;
}
.prf-vcard .card-body {
  padding: 1em;
  flex-grow: 3;
}
.card.prf-vcard.prf-infobox {
  margin: 0;
}
img.card-img-top.prf-avatar {
  border-radius: 4px;
}


/* horizontal cards */
.card.prf-hcard {
  background-color: #f6fafb;
  margin: 1em;
}

img.card-img-left.prf-avatar {
  width: 10rem;
  height: 10rem;
}

/* profile page */
.prf-stretchbox {
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  align-self: stretch;
}
ul.list-group.prf-user-links li a {
  font-family: monospace;
  padding: 0 0 5px 5px;
}

/* auth forms */
.card.prf-authbox {
  background-color: #ebf2f5;
  padding: 1em;
}

/* image loader items */
.prf-imgloader img, .prf-imgcontent img {
  width: 100%;
}

/* media queries */
@media (max-width: 600px) {
  .card-group .card.prf-infobox{
      max-width: 100%;
  }
}

@media (max-width: 800px) {
  .card.prf-mediabox-item {
      width: 100%;
  }
}