//File used for defining new variables 
$main-background-color: #2a2b2c;

//To do: consolidate colours in _variables.scss once we know which ones we're using for sure
$appr-black: #292b2c;
$appr-pink: #ff2d72;
$appr-lightpink: #ffb8d0;
$appr-teal: #5bc0de;