.classified-detail-view{
  margin-top: 2em;
  .card-title{
    font-size: 1.1rem;
  }
}

.ad-inquiry-card{
    text-align: center;
}

#adInquiryForm{
    .input-group{
        padding-bottom: 0.5em;
    }
}