/*CLASSIFIED ADS LIST*/
.classified-list{
  list-style: none;
  padding: 0px;
}

.ad-card-img-wrap{
    height: 156px;
    overflow: hidden; 
}

.ad-card{ 
    h4{
        margin-bottom: 0;
    }
    .card-block{
        padding: 1rem;
        height: 66px;
    }
}