/*CLASSIFIED ADS LIST*/
.classified-list{
    list-style: none;
    padding: 0px;
}

.card{
    margin-bottom: 2em;
}

.card-title{
    color: $brand-primary;
    text-decoration: underline; 
}

a .card-text{
    color: $body-color;
    &:hover{
        color: $body-color;
    }
}

.card-text{
    &:last-child{
        margin-bottom: 1rem;
    }
}

.card-img-top__image-wrap{
    max-height: 300px;
    overflow: hidden;
}

.card__classified-list-view{
    h4{
        font-size: 1em;
        margin-bottom: 0;
    }
    .card-block{
        padding: 1rem;
    }
    .card-footer{
        font-size: 0.7em;
        font-style: italic;
        padding: 0.2em;
        border-top: 0;
    }
}