select{
    height: 36px;
    width: 100%;
}

.input-group{
  padding-bottom: 0.5em;
}

//Drag and drop area:
.droppable { 
    background: rgb(248, 248, 248);
    background: $green;
    border-radius: 0.25rem;
    color: white;
    padding: 3em 0; 
    margin-bottom: 1em;
    text-align: center; 
    width: 100%;
}

.droppable.dragover { 
    background: $yellow;
}

.droppable.contains-file{
    background: $teal;
}

.droppable.dragover.contains-file{
    background: $yellow;
}

.droppable p{
    margin-bottom: 0;
    font-weight: 300;
}